@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  overflow-x: hidden;
}

.container {
  width: 1200px;
  margin: auto;
}
.sub-title-left{
  font-size: 30px;
}
.sub-title-middle{
  font-size: 30px;
  text-align: center;
}
.link{
  text-decoration: none;
  color: black;
}


@media (max-width: 1200px) {
  .container {
    width: 800px;
  }
}
@media (max-width: 800px) {
  .container {
    width: 500px;
  }
}
@media (max-width: 500px) {
  .container {
    width: 95%;
  }
  body {
    font-size: 14px;
  }
}


::-webkit-scrollbar {
  width: 1px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f100;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #31313100;
  border-radius: 100px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #313131;
}